<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button (click)="navigateToUpdateCatfact(itemId)"></ion-back-button>
        </ion-buttons>
        <ion-title>Send Cat Fact</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form
            [formGroup]="form"
            (ngSubmit)="sendMail()">
        <ion-list>
            <ion-item>
                <ion-label>To:</ion-label>
                <ion-input
                        type="email"
                        formControlName="to">
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Cc:</ion-label>
                <ion-input
                        type="email"
                        formControlName="cc"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Bcc:</ion-label>
                <ion-input
                        type="email"
                        formControlName="bcc"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Subject:</ion-label>
                <ion-input
                        type="string"
                        formControlName="subject" [(ngModel)]="catfactTitle"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Message:</ion-label>
                <ion-textarea
                        formControlName="body" [(ngModel)]="catfactText"
                        autoGrow="true"></ion-textarea>
            </ion-item>
            <!--            <ion-item>-->
            <!--                <img id="cardImg" [src]="catImage"/>  -->
            <!--                <img id="cardImg" src="../../assets/img/cat.png" alt="cat"/>-->
            <!--            </ion-item>-->
            <ion-button color="primary" [disabled]="!form.valid" (click)="sendMail()"
            >Send Mail
            </ion-button>
        </ion-list>
    </form>
</ion-content>
