#cardImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  margin: 0;
  position: absolute;
  left: 50%;
}

#titleInput {
  color: #3880ff;
}

#textInput {
  color: #d9d9d9;
  font-size: 1.4em;
}

