#cardImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#titleInput {
  color: #3880ff;
}

#textInput {
  color: #8f8f8f;
}
