<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [routerLink]="['/home']"></ion-back-button>
        </ion-buttons>
        <ion-title>My Cat Facts</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let item of myCatfactList; let i = index;">
            <ion-avatar slot="start">
                <img [src]=item.img>
            </ion-avatar>
            <ion-label>
                <h2>{{item.title}}</h2>
                <p> {{item.catfact}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-button size="small" expand="block" fill="outline" (click)="clearList()">Clear List</ion-button>
</ion-content>
