<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [routerLink]="['/home']"></ion-back-button>
        </ion-buttons>
        <ion-title>My Cat Facts</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="isAvatarList">
        <ion-item slot="start" *ngFor="let item of localStorageService.itemList; let i = index;">
            <ion-avatar slot="start">
                <img [src]=item.img>
<!--                <img src="../../assets/img/cat.png" alt="cat"/>-->
            </ion-avatar>
            <ion-label>
                <h2>{{item.title}}</h2>
                <p id="list-text"> {{item.catfact}}</p>
            </ion-label>
            <ion-icon name="tablet-portrait-outline" [ngStyle]="{'color': getColor(item.rating)}"></ion-icon>
            <ion-button size="small" fill="outline" color="primary"
                        (click)="presentDeleteElementAlert(i)">
                <ion-icon name="close-outline" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button size="small" fill="outline" color="primary"
                        (click)="navigateToUpdateCatfact(i)">
                <ion-icon name="chevron-forward-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="!isAvatarList">
        <ion-item *ngFor="let item of localStorageService.itemList; let i = index;">
            <ion-card (click)="navigateToUpdateCatfact(i)">
                <img id="cardImg" [src]=item.img>
<!--                <img id="cardImg" src="../../assets/img/cat.png" alt="cat"/>-->
                <ion-card-header>
                    <ion-card-title color="primary">
                        {{item.title}}
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content id="card-content">
                    {{item.catfact}}
                </ion-card-content>
                <ion-item>
                    <ion-icon name="star-outline" *ngFor="let i of starRatingArray(item.rating).fill(1)"
                              [ngStyle]="{'color': getColor(item.rating)}"></ion-icon>
                </ion-item>
            </ion-card>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer class="ion-no-border" mode="ios" translucent="true">
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button color="primary" fill="outline" expand="block" (click)="switchListView()">
                        Switch List View
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="primary" fill="outline" expand="block"
                                (click)="presentAlert()">
                        Delete All Cat Facts
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>
