<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [routerLink]="['/home']"></ion-back-button>
        </ion-buttons>
        <ion-title>My Cat Facts</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="isAvatarList">
        <ion-item *ngFor="let item of localStorage.itemList; let i = index;">
            <ion-avatar slot="start">
                <img [src]=item.img>
            </ion-avatar>
            <ion-label>
                <h2>{{item.title}}</h2>
                <p> {{item.catfact}}</p>
            </ion-label>
            <ion-button size="small" fill="outline" color="primary"
                        (click)="presentDeleteElementAlert(i)">
                <ion-icon name="close-outline" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button size="small" fill="outline" color="primary"
                        (click)="navigateToViewCatfact(i)">
                <ion-icon name="chevron-forward-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="!isAvatarList">
        <ion-item *ngFor="let item of localStorage.itemList; let i = index;">
            <ion-card (click)="navigateToViewCatfact(i)">
                <img id="cardImg" [src]=item.img>
                <ion-card-header>
                    <ion-card-title color="primary">
                        {{item.title}}
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    {{item.catfact}}
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer class="ion-no-border" mode="ios" translucent="true">
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button color="primary" fill="outline" expand="block" (click)="switchListView()">
                        Switch List View
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="primary" fill="outline" expand="block"
                                (click)="presentAlert()">
                        Delete All Cat Facts
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>
