<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title id="appTitle" size="large">CAT FACTS</ion-title>
        </ion-toolbar>
    </ion-header>
    <div>
        <img id="appImg" src="../../assets/img/cat.png" alt="cat"/>
    </div>
    <hr>
    <div>
        <ion-button color="warning" expand="block" (click)="navigateToCreateCatfact()">New Cat Fact</ion-button>
    </div>
    <ion-button color="success" expand="block" (click)="navigateTolistCatfacts()">My Cat Facts</ion-button>

</ion-content>
