<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [routerLink]="['/home']"></ion-back-button>
        </ion-buttons>
        <ion-title>New Cat Facts</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-progress-bar [type]="'indeterminate'" *ngIf="showLoader"></ion-progress-bar>
    <ion-card *ngIf='cardElement'>
        <img id="cardImg" [src]="catImage"/>
        <ion-card-header>
            <ion-card-title color="primary">Cat Fact # {{arrayIndexNumber}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{catfactText}}
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar *ngIf='footerButtons'>
        <div class="center">
            <ion-button color="primary" size="small" fill="outline" (click)="showTitleInput()">Save
            </ion-button>
            <ion-button color="primary" size="small" fill="outline" (click)="nextItem()">Next</ion-button>
        </div>
    </ion-toolbar>

    <ion-toolbar *ngIf='titleInputElement'>
        <ion-item>
            <ion-label position="fixed">Title</ion-label>
            <ion-input clearInput [(ngModel)]="catfactTitle"></ion-input>
            <ion-button size="small" (click)="addItem()">
                <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-button>
            <ion-button size="small" (click)="hideTitleInput()">
                <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
        </ion-item>

    </ion-toolbar>
</ion-footer>
